#mainContent
  %h1
    %center
      About (Resume!)
  
  #resume
    %ul.education
      %li
        EDUCATION
        %ul
          %li
            Masters - Neuroscience -Helen Wills Neuroscience Institute, UC Berkeley - May 2012    
          %li        
            B.Sc. - Cognitive Neuroscience - Brown University - May 2005   
    %ul.workExperience
      %li
        WORK EXPERIENCE
        %ul
          %li
            Full Stack Engineer @ Goodreads.com  (Aug 2012 – Aug 2015)
            %ul
              %li
                Engineering Team Lead    (March 2014 – August 2015) 
                %ul
                  %li
                    Engineering Team Lead for Community Features Team. Directed sprint and roadmap planning, headed architectural design, managed our EC2 fleet, and coordinated project timelines with internal and external stakeholders.
                  %li 
                    Engineering lead for Rating and Recommendations integration with Kindle iOS and Goodreads Fire apps, coordinating efforts across four teams. Designed, implemented, and documented APIs and the supporting server‐side Ruby code.
                  %li
                    Service Owner for multiple jRuby and Java services. Key designer and implementer for new jRuby Review Service. Wrote Ruby interface for DynamoDB and headed data migration to new data model and storage scheme for user book reviews.
                  %li
                    Mentored junior engineers, assisting with new employee onboarding, pair programming, and code reviews.
              %li
                Software Developer      (August 2012 – March 2014) 
                %ul
                  %li
                    Designed and implemented a Java service to map all book records in the Goodreads catalog to records in Amazon’s regional catalogs. This was Goodreads’ first service on Amazon’s internal framework. Created a queuing system for mapping book records added to the Goodreads or Amazon catalog.
                  %li
                    API design and server‐side implementation in Ruby on Rails for Goodreads on Kindle project, which backed Goodreads features on Kindle e‐ink devices and the creation of a Goodreads App on Kindle Fire devices.
                  %li
                    Developed and implemented internal and external Ruby on Rails products. Automated Goodreads Monthly Newsletter emails with Resque. Developed internal administrative tools for our Advertising, Customer Care, and Author teams. Implemented the ‘Readers also Enjoyed’ feature, writing both the backend and JavaScript code that supports it. 
          %li
            Helen Wills Neuroscience Institute, UC Berkeley  (Aug 2008 – May 2012)
            %ul
              %li
                Graduate Student Researcher 
                %ul
                  %li
                    Developed cognitive testing applications in VB6, MATLAB, E‐Prime, and Presentation. Conducted multivariate data analysis on behavioral and neuroimaging data. Instructor for Berkeley’s graduate and undergraduate neuroanatomy laboratory courses. 
          %li
            Developmental Cognitive Neuroscience Lab, UBC  (Aug 2005 – July 2008)
            %ul
              %li
                Lab Manager 
                %ul
                  %li
                    Managed local and remote research technicians and acted as project manager for the lab’s research program, coordinating multi‐site projects across the US and Canada. Developed cognitive testing applications using VB6 and Presentation.

    %ul.awards
      %li
        HONORS AND AWARDS
        %ul
          %li 
            Goodreader Award – nominated by peers as one of the top employees at the company  Dec 2014
          %li
            NSF Graduate Research Fellow in Cognitive Science          Sept 2009 – May 2012
          %li
            Elizabeth Roboz Einstein Fellow in Neuroscience and Human Development       Dec 2011 – May 2012

    %ul.technology
      %li
        TECHNOLOGIES
        %ul
          %li
            Programming – Ruby, Ruby on Rails, Java, JavaScript , Visual Basic, C++,  MATLAB, Bash, Scheme 
          %li
            Front End – HTML, CSS, Sass, JavaScript 
          %li
            Data Management – SQL (primarily MySQL), Redis, DynamoDB, memcached, solr, Amazon Cloud Search 
          %li
            Testing – Rails Unit, Functional, and Integration Testing, Capybara, pry Gem 
          %li
            Additional Technologies and Skills – Adobe CS5 (Photoshop, Illustrator), Airbrake, Agile Development, Amazon CloudWatch, API design and implementation, Bugsnag, Jira, MVC, New Relic, Service Architecture, Sprint Planning, Test Driven Design