#mainContent
  .codeProjects
    %h2
      Professional Projects

    - @projects.each do |project|
      = render partial: 'project.html.haml', locals: { project: project }
  
  .codeProjects
    %h2 
      Personal Projects
    - @code_samples.each do |project|
      = render partial: 'project.html.haml', locals: { project: project }
