#mainContent
  #profileImg
    = image_tag 'sarah_escher.png'
  %p
    My name is #{content_tag(:strong, "Sarah S. Munro")}. 
  %p 
    Among other things, I’m a full-stack web developer and ex-neuroscientist. I am also a prodigal Coloradan recently returned to my home state.
  %p
    I grew up in Broomfield, CO, a slice of prototypical suburbia quietly expanding just east of Boulder. I was, and still am, interested in pretty much everything, but I have a special place in my heart for #{ content_tag(:em, "making") } things. In particular, I adore mucking about in the somewhat incongruous media of words, code, pencil and paper, Adobe Illustrator, and food. Not necessarily simultaneously or in that order.
  %p
    I spent the last three years working at #{ link_to 'goodreads.com', 'https://www.goodreads.com' } with some of the best co-workers I can imagine. At the end of 2015, my husband and I moved to Colorado to be closer to family and I have now officially begun my search for a place amongst a new band of engineers. I’m excited to work on new projects and meet new people.
  %p
    In the meantime, I'm drawing ridiculous animals and working on a science fiction novel.

  %em
    %p
      note: I'm in the process of moving content from my old website onto this
      new, EC2-hosted Rails site. Please excuse its current bare-bones state.
    %p
      1/10/16