#mainContent
  #profileImg
    = image_tag 'sarah_escher.png'
  %p
    My name is #{content_tag(:strong, "Sarah S. Munro")}. 
  %p
    Among other things, I’m a (current) full stack software engineer and (former) developmental neuroscientist.
  %p
    I worked at #{ link_to 'Goodreads.com', 'https://www.goodreads.com' } in San Francisco from 2012-2015
    (pre- and post-Amazon acquisition) and at #{ link_to 'Covalent Data', 'https://www.covalentdata.com'}
    in Denver from 2016-2017. I have had a healthy mix of formal and informal education in programming, and I love working
    across the entire stack.

  %p
    In my former life as a neuroscientist, I studied the development of inhibitory control in children with and
    without Tourette Syndrome and the maturation of cognitive control across the lifespan.
  %p
    I live in Thornton, CO with my husband, our daughter, and our 80 pound malamute/lab mix, Escher.


  %em
    %p
      7/30/17