#mainContent
  %p
    A number of years ago I started drawing animals in ridiculous predicaments
    and turning them into calendars and cards for friends and family. For some 
    reason I can't seem to shake the habit, so I have quite a collection of images at this point.

  %p
    In general, all my images are drawn first with a pencil and paper. I then
    scan the results. Using Adobe Illustrator, I hand-trace and color the drawings with a tablet and stylus. My images tend toward the absurd.

  %p
    I currently have a few my drawings for sale on 
    #{ link_to 'etsy.com', 'https://www.etsy.com/shop/EllipsisEtc'}
    in the form of greeting cards.

  %p
    I am also currently putting the finishing touches on a children's book
    I wrote and illustrated for my nephew - I'll add some images from it soon!