#mainContent
  %center
    %h3
      What would you like to know?
  .aboutNav      
    %p
      About my work experience and education? 
      Check out my #{link_to 'Résumé', about_resume_path }
    %p  
      About the technology used on ellipsisetc.com?
      Check out the #{link_to 'About the Site', about_site_path} page