#mainContent
  %center
    %h1
      About the Site
    %h3
      (A little bit about the technologies I'm currently using on 
      ellipsisetc.com)

  %ul.siteTechnologies
    %li
      Host: #{ link_to 'Amazon EC2 Instance', 'https://aws.amazon.com/ec2/' }
    %li
      Application Server: #{ link_to 'Passenger', 'https://www.phusionpassenger.com/' }
    %li
      Web Server: #{ link_to 'Nginx', 'https://www.nginx.com/resources/wiki/' }
    %li
      Deployment Tool: #{ link_to 'Capistrano', 'http://capistranorb.com/#' }

      
