#resume {
  margin-left: -40px;
}

.aboutNav {
  font-size: 20px;
}

.resumeSectionHeading {
  font-size: 24px;
  font-weight: bold; 
  list-style: none;
  li {
    margin-top: 30px;
  }
}

.resumeSectionHeading .resumeBullets {
  font-size: 20px;
  font-weight: normal;  
  list-style: circle;
  li {
    margin-top: 10px;
  }
}

.resumeSectionHeading .resumeSectionSubheading1 {
  font-size: 22px;  
  list-style: none;
  li {
    margin-top: 20px;
  }
}

.resumeSectionHeading .resumeSectionSubheading2 {
  font-size: 20px;  
  list-style: none;
  li {
    margin-top: 15px;
  }
}

.siteTechnologies li {
  font-size: 18px;
  padding-top: 10px;
}